<!DOCTYPE html>
<html lang="en">

<head>
    <title>Budgetting App</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="css/d2d.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>