<div id="navbar">
    <div>
        <h1>Atura</h1>
    </div>
    <div>
        <ul>
            <a href="/budget">
                <li>
                    <img src="images/budget.png" alt="budget-icon">
                    <span>
                        Budget
                    </span>
                </li>
            </a>
            <a href="/dailyTrack">
                <li>
                    <img src="images/schedule.png" alt="budget-icon">
                    <span>
                        Daily Track
                    </span>
                </li>
            </a>
            <a href="/ReserveAndGoals">
                <li>
                    <img src="images/reserve.png" alt="budget-icon">
                    <span>
                        Reserves
                    </span>
                </li>
            </a>
        </ul>

    </div>
</div>