<header>

<div id="navbar">
    <div>
        <img src="images/Atura.png" alt="budget-icon">
    </div>
    <div>
        <ul>
            <a href="/budget">
                <li>
                    <img src="images/budget.png" alt="budget-icon">
                    <span>
                        Budget
                    </span>
                </li>
            </a>
            <a href="/dailyTrack">
                <li>
                    <img src="images/schedule.png" alt="budget-icon">
                    <span>
                        Daily Track
                    </span>
                </li>
            </a>
            <a href="/analytics">
                <li>
                    <img src="images/reserve.png" alt="budget-icon">
                    <span>
                        Analytics
                    </span>
                </li>
            </a>
        </ul>

    </div>
</div>