<%- include("components/analyticsHeader") -%>
    <%- include("components/navbar") -%>
            <div id="year-saving"></div>
    </header>
        <main>
            <div id="year-expense"></div>
            <div class="pie"></div>
        </main>
        <div id="line-chart">
            <div id="earnings"></div>
            <div id="expenses"></div>
            <div id="savings"></div>
        </div>
        <div id="invest">
            <div id="year-invest"></div>
            <div class="pie"></div>
        </div>

        <footer>
            <div id="assets"></div>
            <div id="liability"></div>
            <div id="networth"></div>
        </footer>
        <%- include("components/analyticsFooter")-%>