<%- include("components/analyticsHeader") -%>
    <%- include("components/navbar") -%>
            <div id="year-saving"></div>
    </header>
        <main>
            <div id="year-expense"></div>
            <div id="main2">
                <div id="pie">
                    <div class="pie" id="pie-expense"></div>
                    <div class="pie" id="pie-assets"></div>
                </div>
                <div id="line-chart">
                    <div id="earnings"></div>
                    <div id="expenses"></div>
                </div>
            </div>
        </main>
        <div id="invest"></div>
        <footer>
            <div id="assets"></div>
            <div id="liability"></div>
            <div id="networth"></div>
        </footer>
        <%- include("components/analyticsFooter")-%>