<%- include("components/header") -%>
    <%- include("components/navbar") -%>
        <%- include("components/month") -%>
            <main>
                <h4>
                    Looks like you did'nt filled current month budget
                </h4>

                <button type="submit"><a href="/fillBudget">Fill Up</a></button>
            </main>
            <%- include("components/footer") -%>