<%- include("header") -%>
    <%- include("navbar") -%>
        <h1>Monthly Budget</h1>
        <main>
            <input type="text" placeholder="Income" id="income">
            <br>
            <h2>Expenses</h2>
            <section>
                <input type="text" placeholder="Category" id="category">
                <input type="text" placeholder="Amount" id="amount">
                <input type="color" id="color-select">
                <button onclick="newElement()">+</button>
                <div class="expenses">
                    <!-- <div class="expense">
                        <div >
                            <p></p>
                        </div>
                        <div >
                            <p></p>
                        </div>
                        <div >
                            <div></div>
                        </div>
                        <div class="delete">
                            <p></p>
                        </div>
                    </div> -->
                </div>
            </section>
            <button onclick="sendData()">Submit</button>
        </main>

        <%- include("footer") -%>