<%- include("header") -%>
    <h1>Monthly Budget</h1>
    <form>
        <div id="list">
            <input type="text" placeholder="Income" id="Income">
            <br>
            <input type="text" placeholder="Category" id="Category">
            <input type="text" placeholder="Amount" id="Amount">
            <span onclick="newElement()" class="addBtn">Add</span>
            <ul></ul>
        </div>
        <button onclick="sendData()">Submit</button>
    </form>
<%- include("footer") -%>