@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,600&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#navbar {
  height: 69vh;
}
#navbar ul {
  padding-top: 1rem;
}
#year-saving,
#year-expense, #invest {
  width: 90vw;
  height: 60vh;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  padding: 5rem 2rem 0rem 2rem;
  margin: 2rem;
}
#year-expense {
  width: 91vw;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pie-expense, #pie-assets {
  width: 50vw;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  margin: 2rem;
  padding: 2rem;
}
#line-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18);
  margin: 2rem;
  padding: 2rem;
  width: 40vw;
}
